# URLs de APIs
BFF_BASE_URL=http://localhost:8080
PROFILE_AUTH_BASE_URL=http://localhost:8081
SESSION_API_BASE_URL=http://localhost:8082

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=perfilado
POSTGRES_USER=tpp
POSTGRES_PASSWORD=tpp

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Datos controlados de prueba
TEST_DOMAIN=qa.local
TEST_PASSWORD=Password123#

# Imágenes Docker del sistema bajo prueba
BFF_IMAGE=REEMPLAZAR
PROFILE_AUTH_IMAGE=REEMPLAZAR
SESSION_API_IMAGE=REEMPLAZAR